.oso-web-demo,
.oso-widget {
  div,
  pre {
    box-sizing: border-box;
  }

  select,
  button {
    font-family: inherit;
    font-size: inherit;
  }

  * {
    margin: 0;
    border: 0;
    border-style: solid;
  }

  .with-dividers > * + * {
    border-top: 1px solid #eee;
  }
}
